@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-image: url("./assets/hp-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.wand {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='100px' width='100px' style='fill:black;font-size:30px;'><text y='50%'>🪄</text></svg>"),
    auto;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;

  min-height: 100vh;
}

.chat-bod {
  height: 80vh;
}

#app {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
